/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /******************************************************
/   GENERAL STUFF
/******************************************************/

  img {
    @apply max-w-full;
  }

  hr {
    @apply border-black;
  }

  #baseWrapper {
    min-height: calc(100vh - 2rem);
  }

  /******************************************************
/   FONTS
/******************************************************/

  @font-face {
    font-family: 'MonumentGrotesk';
    src: url('/fonts/MonumentGrotesk/ABCMonumentGrotesk-Regular.woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: 'MonumentGrotesk';
    src: url('/fonts/MonumentGrotesk/ABCMonumentGrotesk-RegularItalic.woff2');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
  }

  html {
    font-family: 'MonumentGrotesk', 'Helvetica', sans;
    line-height: 1.1;
    @apply tracking-wider;
  }

  body {
    @apply text-medium lg:text-medium-dt;
  }
  h1 {
    @apply text-medium lg:text-medium-dt;
  }

  section.inhalt h1,
  section.inhalt h2,
  section.inhalt blockquote {
    @apply mb-two;
  }

  section.inhalt p {
    @apply mb-2;
  }

  h2,
  h3,
  .lead,
  .counter,
  .anchor {
    @apply text-medium lg:text-medium-dt;
  }

  blockquote {
    @apply text-big lg:text-big-dt;
  }

  .text ol {
    list-style-type: decimal;
    list-style-position: inside;
  }

  .text ul {
    list-style-type: none;
  }

  .text ul > li {
    margin-left: 1rem;
  }

  /* Prevent nested li's from getting messed up */
  .text ul > li::before {
    display: inline-block;
    content: '-';
    width: 1em;
    margin-left: -1em;
  }

  .text ul ul,
  .text ol ol {
    margin-left: 1rem;
  }

  .text a {
    text-decoration: underline;
    font-style: italic;
  }

  article .lauftext span {
    @apply text-small lg:text-small-dt;
  }

  /* @media screen and (min-width: 1024px) {
    body {
      @apply text-small-dt;
    }
    h1 {
      @apply text-big-dt;
    }
    h2,
    h3,
    blockquote {
      @apply text-medium-dt;
    }
  } */
}

@layer components {
  /******************************************************
/   Anker
/******************************************************/

  .anker {
    @apply inline-block py-1 px-2 border border-current mt-two lg:mt-big bg-white text-medium lg:text-medium-dt;
  }

  .anker.first {
    @apply mt-0;
  }

  .karte .anker,
  .home .anker {
    @apply text-white bg-black border-white;
  }

  /******************************************************
/   MainNav
/******************************************************/

  .active.anker {
    @apply text-white bg-black;
  }

  .karte .mapIcon {
    display: none;
  }

  .home .mapIcon {
    @apply text-white;
  }

  /* header.karte {
    @apply 2xl:w-3/4;
  } */

  /******************************************************
/   SlideShow
/******************************************************/

  /* Counter: resetting the stiles */
  .inhalt .alice-carousel__slide-info {
    @apply text-medium lg:text-medium-dt;
    color: inherit;
    border-radius: initial;
    background-color: initial;
  }

  .inhalt .alice-carousel__prev-btn,
  .inhalt .alice-carousel__next-btn {
    @apply text-medium lg:text-medium-dt;
    padding: 0;
  }

  .inhalt .alice-carousel__stage-item * {
    line-height: 1.1;
    @apply text-small lg:text-small-dt;
  }
  /******************************************************
  /   Inhalte
  /******************************************************/

  .normal {
    @apply lg:col-span-3;
  }

  /******************************************************
  /   Youtube Component
  /******************************************************/

  .youtubeContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
  }

  .youtubeContainer iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  /******************************************************
  /   Map Component
  /******************************************************/

  /* fix chrome issues */

  /* purgecss ignore */
  .react-transform-component {
    width: unset !important;
    height: unset !important;
  }
  /* purgecss ignore */
  .react-transform-element {
    width: unset !important;
    height: unset !important;
  }
  /* purgecss ignore */
  .react-transform-component.my-wrapper-class {
    width: 100% !important;
    height: 100% !important;
  }
  /* purgecss ignore */
  .react-transform-element.my-content-class {
    width: 100% !important;
    height: 100% !important;
  }

  /* Map Akkordeon Toggle */

  .isOpened svg {
    @apply rotate-45;
  }

  /* Map Akkordeon Filter ProjTitle from Lightbox */

  .projLightBox .projFilter {
    display: none;
  }

  /* coloring themenpfade in legende */

  #legende.Zentralität li.zentralität {
    @apply text-Zentralität;
  }

  #legende.Wohnformen li.wohnformen {
    @apply text-Wohnformen;
  }

  #legende.Ressourcen li.ressourcen {
    @apply text-Ressourcen;
  }

  /*  end components */
}

/******************************************************
  /   Fullscreen Video Component
  /******************************************************/
