/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /******************************************************
/   GENERAL STUFF
/******************************************************/

  img {
    @apply max-w-full;
  }

  hr {
    @apply border-black;
  }

  /******************************************************
/   FONTS
/******************************************************/

  @font-face {
    font-family: 'MonumentGrotesk';
    src: url('/fonts/MonumentGrotesk/ABCMonumentGrotesk-Regular.woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: 'MonumentGrotesk';
    src: url('/fonts/MonumentGrotesk/ABCMonumentGrotesk-RegularItalic.woff2');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
  }

  html {
    font-family: 'MonumentGrotesk', 'Helvetica', sans;
    line-height: 1.05;
  }

  body {
    @apply text-small;
  }
  h1 {
    @apply text-big;
  }

  section.inhalt h1,
  section.inhalt h2,
  section.inhalt blockquote,
  section.inhalt p {
    @apply mb-one;
  }

  h2,
  h3,
  .lead,
  .counter,
  .anchor,
  blockquote {
    @apply text-medium;
  }

  .text ol {
    list-style-type: decimal;
    list-style-position: inside;
  }

  .text ul {
    list-style-type: none;
  }

  .text ul > li {
    margin-left: 1rem;
  }

  /* Prevent nested li's from getting messed up */
  .text ul > li::before {
    display: inline-block;
    content: '-';
    width: 1em;
    margin-left: -1em;
  }

  .text ul ul,
  .text ol ol {
    margin-left: 1rem;
  }

  .text a {
    text-decoration: underline;
    font-style: italic;
  }

  @media screen and (min-width: 1024px) {
    body {
      @apply text-small-dt;
    }
    h1 {
      @apply text-big-dt;
    }
    h2,
    h3,
    blockquote {
      @apply text-medium-dt;
    }
  }
}

@layer components {
  /******************************************************
/   MainNav
/******************************************************/

  #mainNav li a {
    @apply mt-2 mb-2 px-2 py-1 anchor border border-current;
  }

  /******************************************************
/   Anker
/******************************************************/

  .anker {
    @apply inline-block py-1 px-2 border border-current text-medium lg:text-medium;
  }

  /******************************************************
/   SlideShow
/******************************************************/

  /* Counter: resetting the stiles */
  .inhalt .alice-carousel__slide-info {
    position: relative;
    top: auto;
    right: auto;
    padding: 0;
    color: inherit;
    border-radius: initial;
    background-color: initial;
    text-align: right;
  }
}
